
body {
    font-family: 'Work Sans';
}


.simulation-title p {
    font-size: .8rem;
    text-align: center;
}


ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

