body{
	text-align: center;
}

.page {
  max-width: 800px;
  margin: auto;
}


/* for the side menu */

#toggle{
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  position: absolute;
  top:0;
  right:0;
}

#menu_toggle {
  color: #fff;
  position: absolute;
  top: 0;
  left: 200px;
  z-index: 1;
  box-shadow: 1px 1px 3px #000;
}

#menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  z-index: 1;
  top: 0;
  left: -200px;
  background-color:rgb(97,128,251);
  box-sizing: border-box;
    
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  transition: 500ms ease all;  

}



.show_menu {
  transform: translateX(200px) !important;
  transform: translate3d(200px, 0, 0);
}


h1{
  font-size: 2rem;
  margin: 2rem;
}

.nav-bar a {
  color: white;
  text-decoration: none;
} 

.nav-bar {
  background-color: rgb(58,86,123,0.7);
  padding:.5rem 1rem;
}

#sosBtn {
  display: flex;
  align-self: center;
  justify-self: end;
}

#sosBtn a {
  text-decoration: none;
}

#cancelButton {
    display: none;
}

#currclock {
    display: none;
}

#clockdiv, label, input, button, #timeOutput {
	color: black;
	display: inline-block;
	text-align: center;
	font-size: 1rem;
  padding: 1rem;
}

label {
  border-radius: 3px;
}

#clockdiv > div{
	padding: 1rem;
	border-radius: 3px;
	display: inline-block;
  background: #F0f1f3;
}

#contactFlow1 {
  width: 40vw;
  margin: auto;
}

#contactFlow2 {
  width: 40vw;
  margin: auto;
}

body {
  height: 100vh;
  margin: 0;
  font-family: Tahoma;
}

h1 {
  color:white;
  text-align:center;
}

h1,h2 {
  font-weight: 300;
}

h2 {
  border-bottom:2px dotted black;
  padding-bottom: .2rem;
}


.headerbar {
  position: sticky;
  height: 100px;
  background: url(img/desktop-topbar.png), no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}


div.page {
  display: none;
  padding: 0.44em;
  height: calc(100vh - 5.7em);

}

body div.page:nth-child(odd) {
  background-color: white;
}
body div.page:nth-child(even) {
  background-color: white;
}

button {
  background-color: rgb(97,128,251);
  text-decoration: none;
  color: white;
  border:none;
  border-radius: 5px;
  padding:.2rem .5rem;
}

form {
  display:flex;
  flex-flow: column nowrap;
}
.submitArea {
  padding:1rem;
}

.contactCard {
  border-radius: 15px;
  background-color: rgb(245,245,245);
  padding: 1rem;
}






