#signin-page, #signup-page {
    background-image: url('../../img/pin.co_background_graident-04.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
 }

 #signin-page header {
    display: flex;
    gap: .75rem;
    padding: 1rem 4%;

    svg {
        max-width: 10%;
    }

    h1 {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: $font-color-light;
    }
 }

 #signup-page header {
    display: flex;
    gap: .75rem;
    padding: 1rem 4%;

    svg {
        max-width: 10%;
    }

    h1 {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: $font-color-light;
    }
 }

 .signup {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100vw;
    padding: 20px;    
    min-height: 100vh;


    .signup-form {
        display: flex;
        flex-flow: column nowrap;
        gap: 1.2rem;
        background-color:  $background-color-light;
        border-radius: 6%;
        padding: 4% 5% 5% 4%;
        width: 100%;
        box-shadow: 3px 3px 3px $box-shadow-color; 

        svg {
            width:32%;
            align-self: center;
        }

        form {
            display:flex;
            flex-flow:column nowrap;
            gap:1.2rem; 
        }

        .form-group {
            display:flex;
            flex-flow:column nowrap;
            gap:0.5rem;
        }

        #signUp {
            padding:2.5%;
            background-color: $color-main-dark;
            color: $font-color-light;
            border-color: #3E62FF;
            margin-top: 1.5%;
        }

        #signin-link {
            color: $font-color-dark;
        }

    }

 }



 .signin {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    width: 100vw;
    padding: 20px;    
    min-height: 100vh;


    .signin-form {
        display: flex;
        flex-flow: column nowrap;
        gap: 1.2rem;
        background-color:  $background-color-light;
        border-radius: 6%;
        padding: 4% 5% 5% 4%;
        width: 100%;
        box-shadow: 3px 3px 3px $box-shadow-color; 

        svg {
            width:32%;
            align-self: center;
        }

        form {
            display:flex;
            flex-flow:column nowrap;
            gap:1.2rem; 
        }

        .form-group {
            display:flex;
            flex-flow:column nowrap;
            gap:0.5rem;
        }

        #signin {
            padding:2.5%;
            background-color: $color-main-dark;
            color: $font-color-light;
            border-color: #3E62FF;
            margin-top: 1.5%;
        }

        #signup-link {
            color: $font-color-dark;
        }

    }

 }

#error, #errorPassword {
    color: #f7f7f7;
    background: #333;
}


 footer {
    margin: 1.5rem;

    ul {
        padding-inline-start: 0;
        display: flex;
        justify-content: center;
        gap: 1rem;

        li {
            list-style-type: none;
            font-size: .65rem;

            a {
                text-decoration: none;
                color: $font-color-dark;
            }
        }
    }

    p {
        font-size: .65rem;
        text-align: center;
    }
    
 }

 @media screen and (min-width: 800px){

    /*
.signup{
    height: 782px;
    width: 800px;

    svg {
        height: 160px;
        width: 160px;
        display: flex;
        padding-top: 1rem;
        margin: auto;
    }

    form {
        gap: 1rem;
        h3 {
            font-size: 2rem;
        }

        label {
            margin: auto;

            input {
            height: 36px;
            width: 400px
            }
        }

        button {
            margin: auto;
            height: 36px;
            width: 400px;
        }
    }
 }  */

 }

 @media screen and (min-width: 600px){
    .signin {
        .signin-form {
            width: 550px;
        }
    }
    .signup {
        .signup-form {
            width: 600px;
        }
    }
 }

