$color-main:#849BFF;
$color-main-dark: #6380FF;
$color-main-light: #A0BDFF;

$header-font: "Baloo 2";
$body-font: "Work Sans";

$font-color-light: white;
$font-color-dark: black;

$background-color-light: rgba(255, 255, 255, 0.831);

$box-shadow-color: grey;
