$color-main:#849BFF;
$color-main-dark: #6380FF;
$color-main-light: #A0BDFF;
$color-nav-menu: hsla(229, 34%, 27%, 0.8);
$color-hover: #FDD51E;
$div-background-color:#F0f1f3;

$header-font: "Baloo 2";
$body-font: "Work Sans";

$font-color-light: white;
$font-color-dark: black;
$font-color-grey: rgb(109, 108, 108);

$background-color-light: rgba(255, 255, 255, 0.831);

$box-shadow-color: grey;
